*{
margin:0px;
padding: 0px;
}
body{
background-image: url(resource/photo1.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
#error{
font-size:44px;
background-image:url(resource/photo2.png);
margin-left:10%;
margin-top: 7.5%;
width: 80%;
height: 70%;
border-radius: 15px;
position: absolute;
}
body::before{
content: "";
 width: 100%;
 min-height:100vh;
 position: absolute;
 top:0;
 left:0;
background: linear-gradient(90deg,rgb(77, 135, 189),rgb(0, 0, 0));
opacity: 0.5;
}
#cheems{
height: 30%;    
}
